html {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box ;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0
}
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary, div{
    display: block
}
html{
    width: 100%;
    height: 100%; 
}
body{
    width: 100%;
    height: 100%;
    
    
    
}
#container{
    background: #0F0F1E;
    width: 100%;
    height: 100%;
}
#gora{
    
    width: 100%;
    height: 15% ;
    
    min-width: 1250px;
}
#l_gora{

height: 100%;
width: 20%;
min-width: 250px;  /*       Nie przejmuj sie bo to jest niedokonczone to dziala tak zeby strrona sie dobrze zwijala w oknie jak chcesz zobaczyc to patrz na =  */
float: left;

}
#przycisk{
    font-size: 60px;
    padding-top: 70px;              /*      Taki margines od gory tylko jako display block    */
    padding-bottom: 20px;
    padding-left: 50px;
    color: white;
    transition: all 0.3s linear 0s;   /*    Wysuwa sie        */
    position: fixed;                     /*         Guzik sie rusza na dol i gore przy scrollowaniu   */
    cursor: pointer;
}
#menu{
    float: left;                     /*    Przyczepia sie do czegos na lewo    */
    width:80%;
    height:95%;
   
 
}
#menu_2{
    float: right;
    height: 100%;
    width: 40%;
    
    
}
#menu_3 li {  
float: left;
margin-top: 75px;
color: white;
margin-left : 100px;
font-family: 'Didact Gothic', sans-serif;             /*    czcionka z neta   */
font-size: 20px;
 
}
#container_2{
    width: 100%;
    height: 85%;
  
}
#l_srodek{

width: 20%;
height: 100%;
float: left;
position: relative;
                     /* pozycja relatywna  niewiem co to znaczy XD */

}
#srodek{
   
    width: 60%;
    height: 100%;
    float: left;
    position: relative;
   
}
#p_srodek{
 
    height: 100%;
    width: 20%;
    float: left;
    
    

    
}
#div_team{
    height: 100%;
    width: 50%;
    float: left;
    position: relative; 
   

}
#team{
    font-family: 'Didact Gothic', sans-serif;
   letter-spacing: 20px;              /*   Przerwa pomiedzy literami */
   transform:rotate(90deg);             /*    Obrocony napis        */
   font-size: 40px;
   margin-left: 20px;
   margin-top:200px;
   color: white;
   
}
#div_power{ 
    float: left;
    height: 100%;
    width: 50%;
    position:  relative;
    
}
#power{
    font-family: 'Didact Gothic', sans-serif;
   letter-spacing: 20px;          
   transform:rotate(90deg);
   font-size: 40px;
   margin-top: 150px;
   margin-left: 20px;
   color: white;
 
   
}
#our_project{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 50px;
    margin-bottom: 60px;
    color: white;
    text-align: center;                      /*        wysrodkowuje napis     */
}
#napis{
    width: 100%;
    height: 10%;
  
    
}
.divki{
    width: 310px;
    height: 250px;
    background:white;
    float: left;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 50px;
}
#menu_v1{
   
    width: 50%;
    height: 100%;
    float: left;
}
#menu_v2{
    font-family: 'Didact Gothic', sans-serif;
    
}
.klasa{
   padding-top: 175px;
   font-size: 30px;
   padding-left: 80px;
   color: white;
   cursor: pointer;
   
}
#klasa_1{
    padding-top: 175px;
   font-size: 30px;
   padding-left: 64px;
   color: white;
   cursor: pointer;
   
}
#kreska{
    float: left;
   
    height: 22.8%;
    width: 0.7%;
    
}
.kreska_v2{
background: white;
position: absolute;
width: 0.5%;
height: 0.4%;
margin-top: 195px;
border-top: black;
border-bottom: black;

}
#kreska_v3{
    float: left;
   
    height: 22.8%;
    width: 0.7%;
    
}

#kreska_v4{
    float: left;
   
    
    height: 85%;
    width: 0.5%;
    
}
#kreska_v5{
    float: left;
   
    background: white;
    height: 85%;
    width: 0.5%;
    
}
#sections_panel{
    position: fixed;                 /*           Goni kiedy scrolujesz        */
	height:1010px;
	width:0px;
	background: #0F0F1E;
	top:0px;
	left: 0px;
	border-radius:0px 0px 1px 1px;           /*        border         */
	overflow:hidden;
	z-index:10000;                    /*          na ktorym planie jest div          */
    transition: all 0.3s linear 0s;             /*        rozwijanie diva ze sie tak fajnie rozwija        */
}
.plus{
    background: #0F0F1E;
    margin-top: 70px;
   padding-top: 10px;
	height:75px;
	
	color:#FC0;
}

.klasa_1{
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    color: white;
    width: 80%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
}
.klasa_1:hover {
    background: #a6a6a6;
    width: 210px;
    height: 50px;
    cursor:pointer;
   
    
    
}
.menu_4:hover{
    cursor:pointer;                     /*       Zmienia wyglad cursora     */
}

#container_3{
    width: 100%;
    height: 100%;
    background: #0F0F1E;
}
#Div_photo{

width: 40%;
height: 40%;
float: left;
margin-left: 60px;
margin-top: 30px;
}
#lorem{
    
    width: 45%;
    height: 40%;
    float: left;
    margin-left: 40px;
    margin-top: 30px;
    font-size: 30px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}
#lorem_2{
   
    width: 45%;
    height: 40%;
    float: left;
    margin-top: 40px;
    margin-left: 60px;
    font-size: 30px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}
#Div_photo_2{
   
    width: 40%;
    height: 40%;
    float: left;
    margin-left: 40px;
}
#photo_1{
    width: 100%;
    height: 100%;
}
#photo_2{
    width: 100%;
    height: 100%;
}

.kreska_2{
background: white;
position: absolute;
width: 0.5%;
height: 0.4%;
margin-top: 410px;
border-top: black;
border-bottom: black;

}

#container_4{
    width: 100%;
    height: 100%;
    background: #0F0F1E;
}
.kreska_x2{
    background: white;
    position: absolute;                    /*           Mozesz manewrowac tym divem jesli ma absolute po calej stronie        */
    width: 0.5%;
    height: 0.4%;
    margin-top: 625px;
    border-top: black;
    border-bottom: black;
    
    }
#topic{
    
    width: 100%;
    height: 10%;
    
    
    

}    
#topic_napis{
    color: white;
    font-size: 30px;
    padding-top: 40px;
   
    float: left;
}
#pole_wpisywanie{
   background: white;
    width: 62%;
    height: 10%;
    float: left;
}
#send{
    background: #354B70;
    float: left;
    width: 30%;
    height: 10%;
    margin-left: 91px;
    font-family: 'Didact Gothic', sans-serif;
}
#text_send{
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
    
}
#text_message{
    
    width: 100%;
    height: 20%;
    font-family: 'Didact Gothic', sans-serif;
}
#text_napis{
    color: white;
    font-size: 30px;
    padding-top: 40px;
    font-family: 'Didact Gothic', sans-serif;
    float: left;
}
#pole_wpisywanie_2{
    width: 100%;
    height: 40%;
    float: left;
    background: white;
}
#pole_wpisywanie_napis{
 width: 100%;
 height: 100%;
 font-size: 40px;
}
#pole_wpisywanie_napis_2{
    width: 100%;
    height: 100%;
    
    font-size: 40px;
   }


    


